<!--form Handling-->
<form action="" method="POST" class="noteinput">
    <div class="inputDiv">
           <input type="text" class="input" name="notetitle" placeholder="Topic">
           <input type="text" class="input" name="notetext" placeholder="What Do You Want to Do...">
           <button class="add"><i class="fas fa-plus"></i></button>
    </div>
    <div class="container">
        
    </div>
</form>