<!--sectionHeader-->
<%- include('sections/_header')  %> 
<!--/sectionHeader-->
    <div class="login-page">
      <div class="form">
        <form method="POST" class="login-form">
          <input type="text" placeholder="username" name="username" />
          <input type="password" placeholder="password" name="password" />
          <button>login</button>
          <p class="message">Not registered? <a href="/register">Create an account</a></p>
        </form>
      </div>
    </div>
<!--sectionFooter-->
<%- include('sections/_footer')  %> 
<!--/sectionFooter-->