<!--sectionHeader-->
<%- include('sections/_header')  %> 
<!--/sectionHeader-->
    <div class="login-page">
      <div class="form">
        <form method="POST" class="register-form">
          <input type="text" placeholder="name" name="username" />
          <input type="password" placeholder="password" name="password" />
          <button>create</button>
          <p class="message">Already registered? <a href="login">Sign In</a></p>
        </form>
      </div>
    </div>
<!--sectionFooter-->
<%- include('sections/_footer')  %> 
<!--/sectionFooter-->